trigger:
- main

pool:
  name: linux-hosted-agent

stages:
  - stage: terraform
    displayName: terraform
    jobs:
      - job: terraforminitplan
        displayName: initplanapply
        steps:
          - task: TerraformInstaller@1
            inputs:
              terraformVersion: '1.14.3'
          - script: |
            displayName: Terraform Lint
              curl -s https://raw.githubusercontent.com/terraform-linters/tflint/master/install_linux.sh | bash
              tflint --init
              tflint
      
          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'init'
              workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev/'
              backendAzureRmUseEntraIdForAuthentication: false
              backendServiceArm: 'todosvc'
              backendAzureRmStorageAccountName: 'stgacforall'
              backendAzureRmContainerName: 'mycontainer'
              backendAzureRmKey: 'terraform.tfstate'

          - script: |
            displayName: Security Scan
              pip install checkov
              checkov -d .
                
          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'plan'
              workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev/'
              environmentServiceNameAzureRM: 'todosvc'
      - job: manualvalidation
        displayName: Manual Approval
        dependsOn: terraforminitplan
        condition: succeeded('terraforminitplan')
        pool: server   # IMPORTANT
        steps:
          - task: ManualValidation@1
            inputs:
              notifyUsers: |
                brijesh@gmail.com
              instructions: 'Please approve to continue deployment'
              onTimeout: 'reject'
      - job: apply
        displayName: Terraform Apply
        dependsOn: manualvalidation
        condition: succeeded('manualvalidation')
        steps:
          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'init'
              workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev/'
              backendAzureRmUseEntraIdForAuthentication: false
              backendServiceArm: 'todosvc'
              backendAzureRmStorageAccountName: 'stgacforall'
              backendAzureRmContainerName: 'mycontainer'
              backendAzureRmKey: 'terraform.tfstate'

          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'apply'
              workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev/'
              environmentServiceNameAzureRM: 'todosvc'
