trigger:
- main

pool:
  name: Default

stages:
  - stage: terraform
    displayName: terraform
    jobs:
      - job: terraforminitplanapply
        displayName: initplanapply
        steps:
          - task: TerraformInstaller@1
            inputs:
              terraformVersion: 'latest'

          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'init'
              workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev/'
              backendAzureRmUseEntraIdForAuthentication: false
              backendServiceArm: 'todosvc'
              backendAzureRmStorageAccountName: 'stgacforall'
              backendAzureRmContainerName: 'mycontainer'
              backendAzureRmKey: 'terraform.tfstate'

          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'plan'
              workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev/'
              environmentServiceNameAzureRM: 'todosvc'
      - job: manualvalidation
        displayName: Manual Approval
        pool: server   # IMPORTANT
        steps:
          - task: ManualValidation@1
            inputs:
              notifyUsers: |
                brijesh@gmail.com
              instructions: 'Please approve to continue deployment'
              onTimeout: 'reject'
      - job: apply
        steps:
          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'init'
              workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev/'
              backendAzureRmUseEntraIdForAuthentication: false
              backendServiceArm: 'todosvc'
              backendAzureRmStorageAccountName: 'stgacforall'
              backendAzureRmContainerName: 'mycontainer'
              backendAzureRmKey: 'terraform.tfstate'

          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'apply'
              workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev/'
              environmentServiceNameAzureRM: 'todosvc'
